@font-face {
    font-family: 'dinlight';
    src: url('dinlight/dinlight-webfont.eot');
    src: url('dinlight/dinlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinlight/dinlight-webfont.woff') format('woff'),
         url('dinlight/dinlight-webfont.ttf') format('truetype'),
         url('dinlight/dinlight-webfont.svg#dinlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'dinmedium';
    src: url('dinmedium/dinmedium-webfont.eot');
    src: url('dinmedium/dinmedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinmedium/dinmedium-webfont.woff') format('woff'),
         url('dinmedium/dinmedium-webfont.ttf') format('truetype'),
         url('dinmedium/dinmedium-webfont.svg#dinmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'dinregular';
    src: url('dinregular/dinblackalternate-webfont.eot');
    src: url('dinregular/dinblackalternate-webfont.eot?#iefix') format('embedded-opentype'),
         url('dinregular/dinblackalternate-webfont.woff') format('woff'),
         url('dinregular/dinblackalternate-webfont.ttf') format('truetype'),
         url('dinregular/dinblackalternate-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'helveticalight';
    src: url('helveticalight/HelveticaNeue-Light.eot');
    src: url('helveticalight/HelveticaNeue-Light.eot?#iefix') format('embedded-opentype'),
         url('helveticalight/HelveticaNeue-Light.woff') format('woff'),
         url('helveticalight/HelveticaNeue-Light.ttf') format('truetype'),
         url('helveticalight/HelveticaNeue-Light.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

